<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Tech Blog</title>
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="display-flex justify-space-between align-center p-2">
      <h1 class="app-name">My Tech Blog</h1>
      <nav class="navbar">
        <ul>
            <li class="li-inline nav-item"><a href="/">Home</a></li>
            <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
            {{#if logged_in}}
            <li class="li-inline nav-item"><a href='#' id="logout-link">Logout</a></li>
            {{else}}
            <li class="li-inline nav-item"><a href='/login'>Login</a></li>
            {{/if}}
        </ul>
      </nav>
    </header>
    <main class="container container-fluid mt-5">
        {{{body}}}
    </main>
    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>
