* {
    font-family: 'Source Sans Pro', sans-serif;
}

header h1 {
    margin: 10px 0 0 10px;
}

header nav ul {
    list-style-type: none;
}

.nav-item {
    padding: 5px;
}

#new-post-btn {
    margin-left: 775px;
}

#login-btn, #signup-btn {
    margin: 30px;
}